*.iml
.gradle/
/local.properties
/.idea/
/build/
/app/build/
/gradle/wrapper/dists/
.kotlin/
build/
**/build/
local.properties
.idea/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
keystore.properties
gradle/wrapper/dists/
